.sidebar {
    min-width: 300px;
    height: 100%;
    padding: 1.25rem;
    border: 1px solid var(--divider);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__header {
   transform: translateY(3.75rem);
}

.sidebar__user-picture img {
    max-width: 6.25rem;
    border-radius: 100%;
}

.sidebar__fullname {
    font-family: var(--font-title);
    font-size: 1.5rem;
    margin-top: 0.875rem;
}

.sidebar__profession {
    font-size: 0.875rem;
    color: var(--secundary-text);
    margin-top: 0.5rem;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

.sidebar__item a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: var(--secundary-text);
    transition: .2s all ease;
}

.sidebar__item a.active {
    color: var(--primary-text);
}