:root {
    /* Pallete Colors */
    --backgorund-color: #030712;
    --primary-text: #f9fafb;
    --secundary-text: #99a1af;
    --accent-color: #00d492;
    --line-color: #1e2939;
    --input-border: #364153;
    --button-color: var(--backgorund-color);
    /* Default Styles */
    background: var(--backgorund-color);
    font-size: 16px;
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-style: normal;
}

/* General Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
}

button,
input {
    font-family: "Cousine", monospace;
    outline: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

main {
    border-left: 1px solid var(--line-color);
    border-right: 1px solid var(--line-color);
    z-index: 10;
}

/* Navbar Styles */
.navbar {
    position: absolute;
    top: 1.5rem;
    padding: 0.5rem;
    border: 1px solid var(--accent-color);
    border-radius: 0.5rem;
    background: rgba(3, 7, 18, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    z-index: 3;
}

.navbar-list {
    display: flex;
}

.navbar-item {
    margin-right: 1rem;
}

.navbar-item a {
    font-size: 0.875rem;
    color: var(--secundary-text);
    text-transform: uppercase;
    transition: .2s all ease-in-out;
}

.navbar-item a:hover {
    color: var(--primary-text);
}

/* Hero Section Styles */
.hero {
    position: relative;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    max-width: 1080px;
    width: 90%;
    margin: auto;
    z-index: 2;
}

.hero-heading {
    font-size: 3rem;
    color: var(--primary-text);
    font-weight: 400;
    text-wrap: balance;
}

.hero-button {
    margin-top: 1.5rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background: var(--accent-color);
    font-size: 0.875rem;
    color: var(--button-color);
    text-transform: uppercase;
    transition: .2s all ease-out;
}

.hero-button:hover {
    box-shadow: 0px 0px 32px 1px var(--accent-color);
}

.hero .hero-radial-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #030712;
    background: radial-gradient(circle, rgba(3, 7, 18, 0.8) 0%, rgba(3, 7, 18, 1) 70%);
    z-index: 1;
}

.hero-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #030712;
    opacity: 1;
    background-image: linear-gradient(var(--accent-color) 1px, transparent 1px), linear-gradient(to right, var(--accent-color) 1px, #030712 1px);
    background-size: 56px 56px;
    z-index: 0;
}