<section class="contact" id="contact">
    <h2 class="contact-heading">Let's collaborate.</h2>
    <p class="contact-body">
        If you have a great idea or an exciting project, don't hesitate to
        contact me!
    </p>
    <form action="" class="contact-form">
        <div class="contact-form-section">
            <label for="fullname" class="contact-form-label">Full Name</label>
            <input
                class="contact-form-input"
                type="text"
                name="fullname"
                id="fullname"
                placeholder="e.j Jhon Doe"
            />
        </div>
        <div class="contact-form-section">
            <label for="email" class="contact-form-label">Email</label>
            <input
                class="contact-form-input"
                type="text"
                name="email"
                id="email"
                placeholder="e.j e.j example@mail.com"
            />
        </div>
        <div class="contact-form-section">
            <label for="message" class="contact-form-label">Full Name</label>
            <textarea
                class="contact-form-input"
                name="message"
                id="message"
                placeholder="e.j Hi there!..."></textarea>
        </div>
        <button type="submit" class="contact-form-btn">Send Message</button>
    </form>
    <footer class="contact-footer">
        <p class="contact-copy">© 2023 Juan García. All rights reserved.</p>
        <ul class="contact-social">
            <li class="contact-link">
                <a href="#"><i class="ri-github-fill"></i></a>
            </li>
            <li class="contact-link">
                <a href="#"><i class="ri-linkedin-fill"></i></a>
            </li>
            <li class="contact-link">
                <a href="#"><i class="ri-twitter-x-fill"></i></a>
            </li>
        </ul>
    </footer>
</section>
