<section class="contact" id="contact">
    <h2 class="heading-2">If you have a great <span class="violet">idea</span> or an exciting <span class="green">project,</span> feel free to get in touch with me!</h2>
    <ul class="social">
        <li>
            <a href="#" role="button" class="button">
                <span class="button-text">Email</span>
                <span class="button-box-icon">
                    <i class="ri-mail-fill"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="#" role="button" class="button">
                <span class="button-text">Twitter</span>
                <span class="button-box-icon">
                    <i class="ri-twitter-fill"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="#" role="button" class="button">
                <span class="button-text">Linkedin</span>
                <span class="button-box-icon">
                    <i class="ri-linkedin-fill"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="#" role="button" class="button">
                <span class="button-text">Github</span>
                <span class="button-box-icon">
                    <i class="ri-github-fill"></i>
                </span>
            </a>
        </li>
    </ul>
    <footer class="contact-footer">
        <p class="text-normal">© 2023 Juan García. All rights reserved.</p>
    </footer>
</section>