---
import Logo from "../assets/Frame.png";
---

<header class="hero">
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="index.html" role="link" class="navbar-logo">
                <img src={Logo.src} alt="Brand" />
            </a>
        </div>
        <ul class="navbar-list">
            <li class="navbar-item"><a href="#about">About me</a></li>
            <li class="navbar-item"><a href="#portfolio">Portfolio</a></li>
            <li class="navbar-item"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="hero-content">
        <h1 class="hero-heading">
            Hello, everyone! I'am Juan, a passionate web developer. I love it
            transforms lines of code into true digital masterpieces.
        </h1>
        <a href="#contact" class="hero-button">Tell me about your project</a>
    </div>
    <div class="hero-radial-gradient"></div>
    <div class="hero-pattern"></div>
</header>
