---
import Work1 from '../assets/work-1.png'
import Work2 from '../assets/work-2.png'
import Work3 from '../assets/work-3.png'
import Work4 from '../assets/work-4.png'
---

<section>
    <h2 class="heading-1">Take a look at these digital gems and <span class="green">discover</span> how I turn <span class="pink">ideas</span> into <span class="violet">realities.</span></h2>
    <ul class="projects">
        <li class="card">
            <figure class="card-picture">
                <img src={Work1.src} alt="Anything project">
            </figure>
            <h3 class="heading-3"><a href="#">Newspaper app</a></h3>
            <ul class="card-skills">
                <li class="card-tag">React</li>
                <li class="card-tag">Nest.js</li>
                <li class="card-tag">MySql</li>
            </ul>
        </li>
        <li class="card">
            <figure class="card-picture">
                <img src={Work2.src} alt="Anything project">
            </figure>
            <h3 class="heading-3"><a href="#">Mechanical keyboard</a></h3>
            <ul class="card-skills">
                <li class="card-tag">React</li>
                <li class="card-tag">Nest.js</li>
                <li class="card-tag">MySql</li>
            </ul>
        </li>
        <li class="card">
            <figure class="card-picture">
                <img src={Work3.src} alt="Anything project">
            </figure>
            <h3 class="heading-3"><a href="#">Email app</a></h3>
            <ul class="card-skills">
                <li class="card-tag">React</li>
                <li class="card-tag">Nest.js</li>
                <li class="card-tag">MySql</li>
            </ul>
        </li>
        <li class="card">
            <figure class="card-picture">
                <img src={Work4.src} alt="Anything project">
            </figure>
            <h3 class="heading-3"><a href="#">Delivery app</a></h3>
            <ul class="card-skills">
                <li class="card-tag">React</li>
                <li class="card-tag">Nest.js</li>
                <li class="card-tag">MySql</li>
            </ul>
        </li>
    </ul>
</section>